<div class="container">
    <div>
        <app-tenant-list></app-tenant-list>
    </div>
    <div>
        <div class="card shadow p-0 mb-2 bg-white rounded">
            <div class="card-header text-white bg-dark">Payment Configuration Request</div>
            <div class="card-body">

                <form #paymentConfigForm = "ngForm" (ngSubmit)= "addPaymentConfig()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="active" [(ngModel)]= "active">
                                <label class="form-check-label">Active</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Credential</label>
                            <input type="text" class="form-control" id="credential" name="credential" [(ngModel)]= "credential"> 
                        </div>
                        <div class="form-group col-md-6">
                            <label>Payment Method</label>
                            <select name="paymentMethod" id="Pm" class="form-control custom-select custom-select-lg mb-3" [(ngModel)]= "paymentMethod">
                                <option >---Select Payment Method --</option>
                                <option>CREDIT_CARD </option>
                                <option>SOFORT_ÜBERWEISUNG</option>
                                <option>GIROPAY</option>
                                <option>PAYPAL</option>
                                <option>PAYPAL_PLUS</option>
                                <option>PAYBYBANK</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="paymentMethod" name="paymentMethod" [(ngModel)]= "paymentMethod"> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label>Payment Service Provider</label>
                            <select name="paymentServiceProvider" id="PSP" class="form-control custom-select custom-select-lg mb-3" [(ngModel)]= "paymentServiceProvider">
                                <option >---Payment Service Provider--</option>
                                <option>PSP_WIRECARD</option>
                                <option>PSP_PAYPAL</option>
                                <option>PSP_ALLPAGO</option>
                                <option>PSP_BMW</option>
                                <option>PSP_PPRO</option>
                                <option>PSP_ADYEN</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="paymentServiceProvider"
                                name="paymentServiceProvider" [(ngModel)]= "paymentServiceProvider"> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label>Position</label>
                            <input type="text" class="form-control" id="position" name="position" [(ngModel)]= "position">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Principal</label>
                            <input type="text" class="form-control" id="principal" name="principal" [(ngModel)]= "principal">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col" style=" justify-content: right;">
                            <button type="submit" class="btn btn-success">Add Payment Configuration</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>