
<div class="container">
    <div>
        <app-tenant-list></app-tenant-list>
    </div>

        <div class="card shadow p-0 mb-2 bg-white rounded">
            <div class="card-header text-white bg-dark">Add a new user to tenant</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Title</label>
                        <select class="custom-select form-control" id="inputGroupSelect02"  name="title">
                            <option selected>Choose...</option>
                            <option value="1">Mr.</option>
                            <option value="2">Mrs.</option>
                          </select>
                       
                    </div>
                    <div class="form-group col-md-6">
                        <label>GivenName</label>
                        <input type="text" class="form-control" id="givenName"
                            name="givenName">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Surname</label>
                        <input type="text" class="form-control" id="surname"
                            name="surname">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="text" class="form-control" id="password"
                            name="password">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Position</label>
                        <input type="text" class="form-control" id="position"
                            name="position">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Role</label>
                        <input type="text" class="form-control" id="role"
                            name="role">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Principal</label>
                        <input type="text" class="form-control" id="principal"
                            name="principal">
                    </div>
                    
                </div>
               <br>
                <div class=" h5">Contact Data</div> <hr>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Email Address</label>
                    <input type="text" class="form-control" id="emailAddress"
                        name="emailAddress">
                </div>
                <div class="form-group col-md-6">
                    <label>Web Site</label>
                    <input type="text" class="form-control" id="webSite"
                        name="webSite">
                </div>
                <div class="form-group col-md-4">
                    <label>Fax Number</label>
                    <input type="text" class="form-control" id="faxNumber"
                        name="faxNumber">
                </div>
                <div class="form-group col-md-4">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" id="mobileNumber"
                        name="mobileNumber">
                </div>
                <div class="form-group col-md-4">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber"
                        name="phoneNumber">
                </div>
               
                
            </div>
            <div class="form-row">
                <div class="col" style=" justify-content: right;">
                    <button class="btn btn-success">Add New User</button>
                </div>

            </div>
        </div>
    </div>

    