<div>
    <h5> This is from child {{tAddress}}</h5>
    <!-- <button (click)="sendTenantData()">Send Message</button> -->
    <!-- <div>
        <ul class="list-group">
            <li class="list-group-item ">{{tAddress}}</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div> -->
</div>
