<div class="container-fluid">
    <div class="row">
        <div class="col-3 pt-1 mx-auto d-flex justify-content-between">
            <app-tenant-list (toParentEvent)="showTenantInfoFunction($event)"></app-tenant-list>

        </div>
        <div class="col-9 mx-auto d-flex justify-content-between">

        </div>
    </div>
    <div class="row">
        <div class="col-3 border-right border-dark border-3"> </div>

        <div class="col-7 ">

            <div class="container-fluid mb-5">
                <form #tenantForm="ngForm" (ngSubmit)="edit()" >
                    <div class="form-row">
                        <div class=" col" style="text-align: right;">
                            <button [disabled]= "tenantForm.invalid" class="btn btn-danger" type="submit"> Edit </button>
                        </div>
                    </div>
                    <!-- Tenant Information -->
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header text-white bg-dark">Tenant Information</div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tenant Code</label>
                                    <input  type="text" class="form-control" id="tenantCode" name="tenantCode"
                                        [(ngModel)]="tenantDataFromListComp.tenantCode">
                                </div>
                                <div class="form-group col-md-6">
                                    <label> tenantCodeExternal</label>
                                    <input type="text" class="form-control" id="tenantCodeExternal"
                                        name="tenantCodeExternal"
                                        [(ngModel)]="tenantDataFromListComp.tenantCodeExternal">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Full Name</label>
                                    <input required #fullName = "ngModel" [class.is-invalid]="fullName.invalid && fullName.touched" type="text" class="form-control" id="fullName" name="fullName"
                                        [(ngModel)]="tenantDataFromListComp.fullName">
                                        <small class="invalid-feedback"
                                        [class.d-none]="fullName.valid || fullName.untouched">Full Name is required</small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Display Name</label>
                                    <input required #displayName ="ngModel" [class.is-invalid]="displayName.invalid && displayName.touched" type="text" class="form-control" id="displayName" name="displayName"
                                        [(ngModel)]="tenantDataFromListComp.displayName">
                                        <small class="invalid-feedback" [class.d-none]= "displayName.valid ||displayName.untouched">Display Name is required</small>
                                       
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Director</label>
                                    <input type="text" class="form-control" id="director" name="director"
                                        [(ngModel)]="tenantDataFromListComp.director">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Default Locale</label>
                                    <input type="text" class="form-control" id="defaultLocale" name="defaultLocale"
                                        [(ngModel)]="tenantDataFromListComp.defaultLocale">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Default Time zone</label>
                                    <input type="text" class="form-control" id="defaultTimezone" name="defaultTimezone"
                                        [(ngModel)]="tenantDataFromListComp.defaultTimezone">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Base Url</label>
                                    <input  #baseUrl="ngModel" [class.is-invalid]="baseUrl.invalid && baseUrl.touched" type="text" class="form-control" id="baseUrl" name="baseUrl"
                                        [(ngModel)]="tenantDataFromListComp.baseUrl">
                                </div>

                            </div>

                        </div>

                    </div>
                    <br>
                    <!-- Tenant Address -->
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header  text-white bg-dark"> Tenant Address</div>
                        <div class="card-body">
                            <div ngModelGroup="address">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Street1">Street 1</label>
                                        <input type="text" required #street1="ngModel"
                                            [class.is-invalid]="street1.invalid && street1.touched" class="form-control"
                                            id="Street1" name="Street1" [(ngModel)]="tenantAddress.street1">
                                        <small class="invalid-feedback"
                                            [class.d-none]="street1.valid || street1.untouched">Name is required</small>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Street 2</label>
                                        <input type="text" #street2="ngModel"
                                            [class.is-valid]="street2.pristine && street2.touched" class="form-control"
                                            name="Street2" [(ngModel)]="tenantAddress.street2">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Post Code</label>
                                        <input type="text" class="form-control" name="PostCode"
                                            [(ngModel)]="tenantAddress.postcode">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>City</label>
                                        <input type="text" class="form-control" name="city"
                                            [(ngModel)]="tenantAddress.city">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Province</label>
                                        <input type="text" class="form-control" name="province"
                                            [(ngModel)]="tenantAddress.province">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <!-- <select class="custom-select" name="country" [ngModel]= "tenantAddress.country">
                                         <option selected>Select Counter</option>
                                         <option *ngFor= "let country of tenantCountry">{{tenantCountry}}</option>
                                     </select> -->
                                        <label>Country</label>
                                        <input type="text" class="form-control" name="country"
                                            [(ngModel)]="tenantAddress.country">
                                    </div>
                                </div>
                              

                        
                            </div>
                        </div>


                    </div>
                    <br>
                    <!-- Contact Data -->
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header text-white bg-dark">Contact Data</div>
                        <div class="card-body">
                            <div ngModelGroup="contactData">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" name="phoneNumber"
                                            [(ngModel)]="tenantContactData.phoneNumber">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Mobile Number</label>
                                        <input type="text" class="form-control" name="mobileNumber"
                                            [(ngModel)]="tenantContactData.mobileNumber">
                                    </div>
                                    <div class="col-md-4"><label>Fax Number</label>
                                        <input type="text" class="form-control" name="faxNumber"
                                            [(ngModel)]="tenantContactData.faxNumber">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class=" form-group col-md-6">
                                        <label>Email Address</label>
                                        <input type="text" class="form-control" name="emailAddress"
                                            [(ngModel)]="tenantContactData.emailAddress">
                                    </div>
                                    <div class=" form-group col-md-6">
                                        <label>Web Site</label>
                                        <input type="text" class="form-control" name="webSite"
                                            [(ngModel)]="tenantContactData.webSite">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <!-- communicationSettings -->
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header text-white bg-dark">Communication Settings</div>
                        <div class="card-body">
                            <div class="form-row">

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="chatEnabled"
                                                [(ngModel)]="communicationSettings.chatEnabled">
                                            <label class="form-check-label">Chat Enabled</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                       <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                        name="connectedAppEnabled"
                                        [(ngModel)]="communicationSettings.connectedAppEnabled">
                                        <label class="form-check-label">Connected App Enabled</label>
                                       </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                        name="personalSenderInfo"
                                        [(ngModel)]="communicationSettings.personalSenderInfo">
                                        <label class="form-check-label">Personal Sender Info</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                        name="smsBooked"
                                        [(ngModel)]="communicationSettings.smsBooked">
                                        <label class="form-check-label">SMS Booked</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                        name="smsEnabled"
                                        [(ngModel)]="communicationSettings.smsEnabled">
                                        <label class="form-check-label">SMS Enabled</label>
                                        </div>
                                    </li>
                                </ul>




                            </div>

                        </div>
                    </div>
                    <br>
                    <!-- currencyPreferences -->
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header text-white bg-dark">Currency Preferences</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush" >
                                <li class="list-group-item"  *ngFor =  'let item of currencyPreferences'>
                                    <input type="checkbox" class="form-check-input" name="{{item.preferredCurrency}}"
                                [(ngModel)]="item.preferredCurrency">
                                <label class="form-check-label" >{{item.currencyUnit}}</label>
                               
                                
                                </li>
                            </ul>
                            <div class="form-group col-md-6">
                                <select name="currencyPreferences" id="" class="form-control custom-select custom-select-lg mb-3" [(ngModel)]= "currencyPreferences">
                                    <option value="CHF">CHF</option>
                                </select>
                                
                            </div>
        
                        </div>
                    </div>
                    <br>
                    <!--Repair Order Settings  -->
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header text-white bg-dark">Repair Order Settings</div>
                        <div class="card-body">
                            <div ngModelGroup="repairOrderSettings">
                                <div class="from-row">
                                   <ul class="list-group list-group-flush">
                                       <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                        name="mpiEnabled"
                                        [(ngModel)]="repairOrderSettings.mpiEnabled">
                                        <label class="form-check-label">MPI Enabled</label>
                                        </div>
                                       </li>
                                       <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                        name="repairOrderBooked"
                                        [(ngModel)]="repairOrderSettings.repairOrderBooked">
                                        <label class="form-check-label">Repair Order Booked</label>
                                        </div>
                                       </li>
                                       <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                        name="repairOrderEnabled"
                                        [(ngModel)]="repairOrderSettings.repairOrderEnabled">
                                        <label class="form-check-label">Repair Order Enabled</label>
                                        </div>
                                       </li>
                                       <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                        name="repairOrderSeparateSendOut"
                                        [(ngModel)]="repairOrderSettings.repairOrderSeparateSendOut">
                                        <label class="form-check-label">Repair Order Separate SendOut</label>
                                        </div>
                                       </li>

                                   </ul>
                                   
                                </div>
                               <div class="form-row" >
                                   <div class="col-md-10">
                                    <div class="form-group" style="display:flex; flex-direction: row; justify-content: left; align-items: center">
                                        <label for="repairOrderVideoReviewDelay" style="padding-right: 5    px;">Repair Order Video Review Delay</label>
                                        <input type="text" class="form-control col-md-3" id="repairOrderVideoReviewDelay" name="repairOrderVideoReviewDelay"
                                            [(ngModel)]="repairOrderSettings.repairOrderVideoReviewDelay">
                                    </div>
                                   </div>

                               </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <!-- dms Settings dmsSettings -->
                    <br>
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header text-white bg-dark">DMS Settings </div>
                        <div class="card-body">
                            <div ngModelGroup="dmsSettings">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label>dms Auth Password</label>
                                        <input type="text" class="form-control" name="dmsAuthPassword"
                                            [(ngModel)]="dmsSettings.dmsAuthPassword">
                                    </div>
                                    <div class="col-md-4">
                                        <label>dms Auth User Name</label>
                                        <input type="text" class="form-control" name="dmsAuthUserName"
                                            [(ngModel)]="dmsSettings.dmsAuthUserName">
                                    </div>
                                    <div class="col-md-4">
                                        <label>dms Type</label>
                                        <input type="" class="form-control" name="dmsType"
                                            [(ngModel)]="dmsSettings.dmsType">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tenant Configurations -->
                    <div class="card shadow p-0 mb-2 bg-white rounded">
                        <div class="card-header text-white bg-dark">Tenant Configurations </div>
                        <div class="card-body">
                            <div ngModelGroup="tenantConfiguration">
                                <div class="form-row">
                                   
                                    <div class="col-md-6">
                                        <label>Forward Email Address</label>
                                        <input type="text" class="form-control" name="forwardEmailAddress"
                                            [(ngModel)]="tenantDataFromListComp.forwardEmailAddress">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Return Email Address</label>
                                        <input required type="text" class="form-control" name="returnEmailAddress"
                                            [(ngModel)]="tenantDataFromListComp.returnEmailAddress">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Legal Entity Name</label>
                                        <input type="text" class="form-control" name="legalEntityName"
                                            [(ngModel)]="tenantDataFromListComp.legalEntityName">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Payment Link Validity</label>
                                        <input type="text" class="form-control" name="paymentLinkValidity"
                                            [(ngModel)]="tenantDataFromListComp.paymentLinkValidity">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Style</label>
                                        <input type="text" class="form-control" name="style"
                                            [(ngModel)]="tenantDataFromListComp.style">
                                    </div>
                            
                                    
                                    <div class="col-md-4">
                                        <label>Registered Seat</label>
                                        <input type="text" class="form-control" name="registeredSeat"
                                            [(ngModel)]="tenantDataFromListComp.registeredSeat">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Registration</label>
                                        <input type="text" class="form-control" name="registration"
                                            [(ngModel)]="tenantDataFromListComp.registration">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Reminder Interval</label>
                                        <input type="text" class="form-control" name="reminderInterval"
                                            [(ngModel)]="tenantDataFromListComp.reminderInterval">
                                    </div>
                                  
                                    <div class="col-md-5">
                                        <label>Email On Status Changed List</label>
                                       <select class="custom-select" name="emailOnStatusChangedList" [ngModel]= "tenantDataFromListComp.emailOnStatusChangedList">
                                         <option *ngFor= "let items of tenantDataFromListComp.emailOnStatusChangedList">{{tenantDataFromListComp.emailOnStatusChangedList}}</option>
                                     </select>
                                    </div>
                                    <div class="col-md-5">
                                        <br>
                                        <div class="form-check">
                                            <input required type="checkbox" class="form-check-input" name="recipientDataLearning"
                                                [(ngModel)]="tenantDataFromListComp.recipientDataLearning">
                                            <label class="form-check-label">Recipient Data Learning</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>SurveyScript</label>
                                        <input type="text" class="form-control" name="surveyScript"
                                            [(ngModel)]="tenantDataFromListComp.surveyScript">
                                    </div>
                                  
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>


            
           
           
            
        </div>

    </div>





</div>