  <div class="container"> 
    <div class="child">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-dark" style=  "width: 18rem;">
            <div class="card-header bg-dark ">
              <ul class="nav nav-pills card-header-pills ">
                <li class="nav-item ">
                  <a class="nav-link text-white active disabled" href="#">Dev</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white disabled" href="#">Stage</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-white disabled" href="#">Prod</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Login</h5>
              <p style="color:red; font-weight:bold" *ngIf="loginFailed">
                Login wasn't successfull.
              </p>
              <div class="form-group">
                <label>Username</label>
                <input class="form-control" [(ngModel)]="userName" />
              </div>
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" [(ngModel)]="password" />
              </div>
              <div class="form-group">
              <div class="row">
                <div class="col-sm-9 col-md-6 col-lg-5 mx-auto"> 
                  <button class="btn btn-outline-success" (click)="loginWithPassword()">
                 Login
               </button>
             </div>
                 <div class="col-sm-9 col-md-6 col-lg-5 mx-auto">
                   <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
                 </div>
  
              </div>
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>access_token_expiration:</b> {{ access_token_expiration }}</p>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>access_token:</b> {{ access_token }}</p>
      
      </div>
    </div>


  </div>
  
  

