<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"routerLink="/">PayMail Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropdown-toggle-split" routerLink="tenants" id="navbarDropdownTenant" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tenants</a>
          <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdownTenant">
            <a class="dropdown-item" routerLink="initiateTenantDatabase">New Tenant</a>
        </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropdown-toggle-split" routerLink="paymentConfiguration" id="navbarDropdownPSP" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Payment Configuration</a>
          <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdownTenant">
            <a class="dropdown-item" routerLink="addPSP">Add Payment Service Provider</a>
        </div>
        </li>
        
        
        
        <li class="nav-item">
          <a class="nav-link" routerLink="userManagement">User Management</a>
        </li>

       
        
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0 text-white" routerLink="login">Login</button>
    </div>
  </nav>