<div class="row ">
    <div class="mx-auto ">
        <div class="form-group  mx-auto">
            <select name="" class="form-control shadow pt-0 mb-2 bg-white rounded" id="c" #input (change)='onChangeTenant($event)'>
                <option *ngFor='let tenantData of tenantsData' value ={{tenantData}}>{{tenantData}}</option>
            </select>
           
        </div>
    </div>

</div>
