<div class="container-fluid  mb-5">
    <div class="card ">
        <div class="card shadow p-0 mb-2  rounded ">
            <div class="card-header text-white bg-dark">New Tenant</div>
            <div class="card-body">
                <form #addNewTenantForm="ngForm">
                    <div class="form-row">
                           <div class="col-md-12">
                            <div class="form-group">
                                <label>Enter New Tenant Code</label>
                                <input type="text" class="form-control" name="tenantCode" [(ngModel)]="tenantCode">
                            </div>
                           </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-8">
                            <button class="btn btn-outline-success" (click)="addNewTenant()">New Tenant</button>
                        </div>
                    </div>

                </form>
                <br>
                <div *ngIf="errorMessage" class="alert alert-warning">
                    <strong>Warning!</strong> {{errorMessage.error.message | json}}
                    <br>{{errorMessage.error.additionalInformation}}
                </div>
                <!-- <div *ngIf= "successMessage" class="alert alert-success">
                    <strong>Success!</strong>{{successMessage}}
                </div> -->
            </div>
            
        </div>
    </div>
</div>
